header {
    background-color:#244751;
    color:#E8FDFF;
    font-family: 'Oleo Script', cursive;
    border:50px;
}
body{
    background-color: whitesmoke;
}
main{
    background-color: white;
    padding: 16px;
}
.post{
    margin-bottom:48px;
}
.post .user-info img{
    border-radius:50%;
}
.insta{
    width:55px;
    height: center;
}
